<div class="container">

  <hr>

  <div class="row">

    <div class="col-sm-6 info">
      <ul class="no-dots">
          <li>Tento dokument vytvořil <a href="https://webarchiv/cs"> Webarchiv</a> </li>
          <li>pod licencí:<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="cc-link"><strong>CC</strong> BY/NC/ND</a></li>
      </ul>
    </div>

    <div class="col-sm-2 col-sm-offset-4 external-links">
      <h2><a href="https://webarchiv/cs">WWW</a></h2>
      <ul class="no-dots">
        <li><a href="https://www.facebook.com/webarchivcz">facebook</a></li>
        <li><a href="/cs/kontakty">kontakt</a></li>
        <li><a href="{{ site.github.owner_url}}">git</a></li>
        <li><a href="{{ site.github.issues_url }}">issues</a></li>
      </ul>
    </div>
  </div>

</div>
