<div class="container">

  <hr>

  <div class="row">

    <div class="col-sm-6 info">
      <ul>
          <li><a href="/cs">Webarchiv</a> je pod licencí:<br><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="cc-link"><strong>CC</strong> BY/NC/ND</a></li>
          <li><br>Koncept a grafickou podobu připravili<br><a href="http://www.kofila.com/" target="_blank">Bohdan Heblík</a> & <a href="http://zlodejpapiru.cz/" target="_blank">Luboš Svoboda</a><br>Do chodu vše uvedl <a href="http://www.tomaskorinek.com/" target="_blank">Tomáš Kořínek</a></li>
      </ul>
    </div>

    <div class="col-sm-2 col-sm-offset-4 external-links">
      <h2><a href="/cs">WWW</a></h2>
      <ul>
        <li><a href="/cs/kontakty">kontakt</a></li>
        <li><a href="https://www.facebook.com/webarchivcz">facebook</a></li>
        <li><a href="http://blog.webarchiv.cz/">blog</a></li>
        <li><a href="/cs/graficke-materialy">logo</a></li>
      </ul>
    </div>

  </div>

</div>
