<!DOCTYPE html>
	<html lang="cs-CZ">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>

			<link rel="stylesheet" href="/css/bootstrap.min.css" type='text/css' media='all'>
			<link rel="stylesheet" href="/css/screen.css" type='text/css' media='all'>

		</head>

		<body>
	<section>

		<div class="container">

				<h1><a href="http://webarchiv.cz">Webarchiv<span class="false-link-underline-blue"></span></a> Katalogizační manuál</h1><br>
				<p>Zápis vybraných údajů při popisu elektronických online zdrojů ve formátu  MARC 21 / systém Aleph </p>

		<ul class="inline-list">
		<li><a href="{{ site.url }}/index.md"  class="{% if page.url == index.md %}current{% endif %}">Úvod</a>&nbsp;<span class="slash">/</span></li>
    	{% for nav in site.posts %}
			<li><a href="{{ nav.url }}" class="{% if page.url == nav.url %}current{% endif %}">{{ nav.title }}</a>&nbsp;<span class="slash">/</span></li>
			{% endfor %}

		</ul>

			<hr>

		</div>

	</section>
	<section>
		<div class="container">

			{{ content }}

		</div>
	</section>

	<footer>
		{% include footer.html %}
	</footer>

</body>
</html>
